@mixin navStyle {
  color: $black;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

@mixin sectionStyle {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

@mixin linkInit {
  color: white;
  font-size: 5rem;
}

@mixin footerTitle {
  font-weight: 500;
  font-size: 1.4rem;
}

@mixin footerText {
  font-size: 2.2rem;
  letter-spacing: 1px;
}

@mixin footerInput {
  padding: 1.4rem 2rem;
  padding-right: 12rem;
  background-color: white;
  outline: none;
  border: 1px solid black;
}

@mixin footerBtn {
  padding: 1.4rem 1rem;
  background-color: #f0f3f4;
  outline: none;
  border: none;
}

@mixin detailText {
  font-size: 1.4rem;
}
