@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_mixins";
@import "_extends";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 200vh;
}

.header {
  height: 14rem;
  width: 100%;
  margin-top: 2rem;
  padding-top: 2.4rem;
  @include navStyle;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sticky {
    width: 90%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 1rem 2rem;
  }
  .header__nav--first {
    width: 90%;
    background-color: white;
    padding: 1rem 2rem;
  }
  .header__nav--second {
    width: 90%;
    background-color: white;
    padding: 1rem 2rem;
  }

  .header__nav__first--lists {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    padding: 1.5rem 0rem;
    background-color: white;
    .header__nav__list:nth-child(2) {
      font-size: 2rem;
    }
  }

  .header__nav__second--lists {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0rem;
    background-color: white;
    .header__nav__list:first-child {
      color: blue;
    }
  }
  .header__nav__list {
    transition: all 0.4s;
  }
}

.section__1 {
  width: 100%;
  margin-top: 5rem;
  height: 60rem;
  @include sectionStyle;

  .section__1--img {
    width: 100%;

    position: relative;

    .section__1--video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  .section__1--texts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section__1--title {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1.4rem;
    }
    .section__1__links {
      display: flex;
      justify-content: center;
    }
    .section__1--link a {
      @include linkInit;
      padding: 0rem 1rem;
    }
  }
}

.section__2 {
  width: 100%;
  margin-top: 30rem;
  height: 60rem;

  .section__wrapper {
    display: flex;
    .section__half--title {
      @extend %bodyHeader;
    }

    .section__half--1 {
      width: 100%;
      height: 60rem;
      background-image: url("https://images.unsplash.com/photo-1487766036723-04aebf785670?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
      background-position: center;
      background-size: cover;
      position: relative;
      .section__half--1--hover {
        position: absolute;
        width: 100%;
        height: 60rem;
        top: 0px;
        left: 0px;
        transition: all 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        &:hover {
          background-color: hsla(0, 0%, 100%, 0.982);
          opacity: 0.8;
          .section__half--title {
            opacity: 1;
          }
        }
      }
    }
    .section__half--2 {
      width: 100%;
      height: 60rem;
      background-image: url("https://images.unsplash.com/photo-1548080819-84b0d779e8e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
      background-position: center;
      background-size: cover;
      position: relative;
      .section__half--2--hover {
        position: absolute;
        width: 100%;
        height: 60rem;
        top: 0px;
        right: 0px;
        transition: all 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        &:hover {
          background-color: hsla(0, 0%, 100%, 0.982);
          opacity: 0.8;
          .section__half--title {
            opacity: 1;
          }
        }
      }
    }
  }
}

.grid__title {
  @extend %bodyHeader;
}

.section__3 {
  width: 100%;
  margin-top: 16rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  .grid__title {
    text-align: center;
  }
  .grid__container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60rem 8rem;

    .grid__box:first-child {
      transition: all 0.4s;
      background-image: url("https://images.unsplash.com/photo-1524230572899-a752b3835840?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80");
      background-position: center;
      background-size: 110%;
      &:hover {
        background-size: 100%;
        filter: brightness(90%);
      }
    }
    .grid__box:nth-child(2) {
      transition: all 0.4s;
      background-image: url("https://images.unsplash.com/photo-1518156677180-95a2893f3e9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
      background-position: center;

      background-size: 110%;
      &:hover {
        background-size: 100%;
        filter: brightness(90%);
      }
    }
    .grid__box:nth-child(3) {
      transition: all 0.4s;

      background-image: url("https://images.unsplash.com/photo-1571028615095-0db363448887?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80");
      background-position: center;
      background-size: 110%;
      &:hover {
        background-size: 100%;
        filter: brightness(90%);
      }
    }
    .grid__info {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      margin-left: 1.4rem;
      .grid__detail:not(:last-child) {
        margin-bottom: 0.8rem;
        font-size: 1.4rem;
      }
    }
  }
}

.section__4 {
  width: 100%;
  margin-top: 26rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .static__text:first-child {
    // background-color: red;
    width: 50%;
    height: 4rem;
    @extend %bodyHeader;
    font-size: 1.8rem;
    text-align: center;
    position: relative;

    overflow: hidden;
  }
}

.moving__text {
  @extend %bodyHeader;
  font-size: 1.8rem;
  white-space: nowrap;

  width: 100%;
  height: 4rem;
  position: absolute;
  // display: none;
  z-index: 100;
  top: 0;
  left: 0;
  animation: movingText 13s linear infinite;
}

.static__text:last-child {
  // background-color: yellow;
  width: 50%;
  height: 4rem;
  @extend %bodyHeader;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@keyframes movingText {
  0% {
    transform: translateX(-100rem);
  }

  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(100rem);
  }
}

.footer {
  width: 100%;
  margin: 8rem 0rem;
  height: 10rem;

  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    gap: 10px;

    .footer__box {
      padding: 2rem 4rem;
      width: 100%;
      .footer__newsletter--title {
        @include footerTitle;
      }
      .footer__newsletter--info {
        margin-top: 2rem;
        .footer__form {
          .footer__input {
            @include footerInput;
            margin-right: 1rem;
          }
          .footer__btn {
            @include footerBtn;
            @include footerTitle;
            margin-right: 1rem;
          }
        }
      }

      .footer__newsletter {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.footer__box--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .footer__details__box {
    display: flex;
    flex-direction: column;
    .footer__details--title {
      margin-bottom: 2rem;
      @include footerTitle;
    }
    .footer__details--info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      grid-template-rows: repeat(2, 1rem);
      @include detailText;
    }
  }
}

.hidden {
  display: none;
}
